body{
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
    /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
    
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(33, 82, 88);
}

.sty{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 8px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
}
.table {
    --bs-table-bg: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-color: var(--bs-table-bg);

    --bs-table-border-color: rgb(0, 0, 0);
  border-color: var(--bs-table-border-color);
  }